body > * {
    color: #fff;
    padding: 0 20px;
}
a {
	color: #fff;
	text-decoration: none;
}
.left {
	float:left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
/* Splash */
.splash-container {
	width: 100%;
	padding: 0;
}
.splash-text {
	margin-top: 50%;
}
.splash-container h2, .splash-container h3 {
	margin: 0;
}
.splash-container h2{
	
}
.splash-container h3  {
	font-weight: normal;
	margin-bottom: 20px;
	color: #5DC1FF;
}
.splash-spinner {
	display: block;
}
/* Search */
.current-location {
	font-size: 21px;
}

.pick input {
	text-align: center;
}
/* List */
.list-spinner {
	margin: 0 auto;
	display: block;
	text-align: center;
	margin: 50px;
	position: absolute;
	z-index: 9999;
	top: 40%;
	left: 25%;
}
.gradient {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHkxPSI1MCUiIHgyPSIxMDAlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDU0NSIgc3RvcC1vcGFjaXR5PSIwIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1NDU0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(left, rgba(69,70,70,0) 0%, #454545 100%);
	background-image: -o-linear-gradient(left, rgba(69,70,70,0) 0%, #454545 100%);
	background-image: -webkit-linear-gradient(left, rgba(69,70,70,0) 0%, #454545 100%);
	background-image: linear-gradient(left, rgba(69,70,70,0) 0%, #454545 100%);

	height: 100%;
	position: absolute;
	right: 0px;
	top: 0;
	width: 80%;
}
.title {
	margin: 8px 0px 0px 0px;
}
.distance {
	font-size: 14px;
	margin: 0px;
	color: #ccc;
}
.spaces {
	font-size: 14px;
	margin: 0px;
	color: #ccc;
	font-weight: normal;
}
.topcoat-button, input {
	width: 100%;
}
.pick {
	margin-top: 25%;
}
.search-bar {
	padding: 10px 10px 12px 8px;
}
.list {
	
}
.list > li {
	position: relative;
	display: block;
}
.list > li > a {
	margin: 0px;
	display: block;
	padding: 15px;
}
.count {
	color: #5DC1FF;
	float: right;
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	right: 40px;
	top: 17%;
}
.list > li > a > .fa {
	position: absolute;
	right: 15px;
	top: 40%;
}
/* Details */
.topcoat-navigation-bar__title {
	font-size: 16px;
}
.addy {
	height: 36px;
}
/* Topcoat customization*/
.topcoat-notification {
	
}
.back-button {
	top: 10px;
	position: absolute;
}
.topcoat-button {
	text-align: center;
}
.topcoat-button--cta {
	margin: 10px 0;
	padding: 0px 10px;
}
.topcoat-search-input {
	border-radius: 6px;
	padding-left: 0;
	text-align: center;
}
.topcoat-button--cta .fa-2x{

}
.topcoat-list__item {
	padding: 0;
}
