<div data-role="page" id="details_{{spotDetails.id}}">
	<div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back">&lt;</span>
        </a>
    </div>
	<div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">@ {{spotDetails.title}}</h1>
    </div>
		<h1>Details @ {{spotDetails.title}}</h1>
	<div data-role="content">
		<h3>{{spotDetails.title}}, {{spotDetails.nbhood}}</h3>
		<p>There are {{spotDetails.spaces}} {{spotDetails.free}} spaces.</p>
		<p>{{distance}}</p>
		<!-- <div class="google-map" 
			center="coords"
			zoom="zoomProperty" 
			markers="markersProperty"
			mark-click="false"
			draggable="true"
			fit="false"
			events="eventsProperty"
			style="height: 400px; width: 100%"
			refresh="!isMapElementHidden">
		</div> -->
	</div>
</div>