<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a ng-click="back()" class="topcoat-button--cta">
            <i class="fa fa-chevron-left"></i> Back
        </a>
    </div>
    <div class="topcoat-navigation-bar__item right three-quarters">
        <div class="search-bar">
            <form ng-submit="SearchFromAddress()">
                <input ng-model="newAddress" type="search" placeholder="New search" class="topcoat-search-input search-key">
            </form>
        </div>
    </div>
</div>

<div class="topcoat-list__container scroller">
	<ul class="topcoat-list list">
		<li class="topcoat-list__item" ng-show="{{spot.id}}" ng-repeat="spot in spots | filter:query | orderBy:orderProp">
			<a href="#/details/{{spot.id}}">
                <div class="gradient"></div>
                <div class="info">
    				<p class="title">{{spot.title}}</p>
    				<p class="distance">{{spot.distance}} mi</p>
                </div>
                <div class="center">
                    <span class="count">{{spot.spaces}} <br> <span class="spaces">spaces</span></span>
                </div>
                <i class="fa fa-chevron-right"></i>
			</a>
		</li>

	</ul>
    <i id="spinner" class="fa fa-spinner fa-spin fa-3x" ng-hide="spots"></i>
    <a ng-click="LoadMore()" class="topcoat-button" ng-show="spots">Load More</a>
</div>
