<html ng-app="moto">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/jquery.mobile.flatui.css" />
		<style>
			a {
				text-decoration: none;
			}
			.pick {
				margin: 25% 0;
			}
		</style>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/jquery.mobile-1.3.1.min.js"></script>
		<script src="js/lib/angular.min.js"></script>
		<script src="js/lib/angular-google-maps.js"></script>
		
		<script src="js/services.js"></script>
	</head>
	<body ng-controller="GetSpots">
		<div data-role="page" id="select">
			<div class="pick">
				<form ng-submit="SearchFromAddress()">
					<input ng-model="address" name="address" required type="text" placeholder="Enter Address">
				</form>
			<a href="#list"  data-role="button" ng-click="GetCurrentLocation()">Find spots near me</a>
			</div>
		</div>
		<div data-role="page" id="list">
			<div data-role="header">
				<h1>Moto Park</h1>
			</div><!-- /header -->
			<div data-role="content">
				<ul data-role="listview" data-filter="true">
					<li ng-repeat="spot in spots"><a href="#details_{{spot.id}}" ng-click="GetSpotDetails(spot)">{{spot.title}} 
					<br style="clear:both;">
					<span class="ui-li-count">{{spot.spaces}} spots {{spot.distance}} miles away!</span>
					</a></li>
				</ul>
			</div>
		</div>
		<div data-role="page" id="details_{{spotDetails.id}}">
			<div data-role="header">
				<a href="#list" data-rel="back">&lt; Back</a>
				<h1>Details @ {{spotDetails.title}}</h1>
			</div><!-- /header -->
			<div data-role="content">
				<h3>{{spotDetails.title}}, {{spotDetails.nbhood}}</h3>
				<p>There are {{spotDetails.spaces}} {{spotDetails.free}} spaces.</p>
				<p>{{distance}}</p>
				<div class="google-map" 
					center="coords"
					zoom="zoomProperty" 
					markers="markersProperty"
					mark-click="false"
					draggable="true"
					fit="false"
					events="eventsProperty"
					style="height: 400px; width: 100%"
					refresh="!isMapElementHidden">
				</div>
			</div>
		</div>
	</body>
</html>