<div id="details">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a ng-click="back()" class="button back">
                <i class="fa fa-chevron-left"></i> Back
            </a>
        </div>
        <div class="topcoat-navigation-bar__item right three-quarters">

        </div>
    </div>
    <i id="spinner" class="fa fa-spinner fa-spin fa-3x list-spinner" ng-hide="spotDetails"></i>
    <div class="details">
        <div class="addy">
            <div class="left count-container">
                <span class="count">{{spotDetails.spaces}}</span>
            </div>
            <div class="left location-info">
                <p>{{spotDetails.free}} spaces on {{spotDetails.title}}</p>
            </div>
        </div>
        <leaflet center="center" markers="markers" width="100%" height="300px"></leaflet>
        <p class="right">{{spotDetails.distance}} mi away!</p>
        <div class="clear"></div>
        <a ng-click="GetDirections(address)" class="button directions">Get Directions</a>
    </div>
</div>
