<div class="topcoat-navigation-bar">
    <div class="full">
        <div class="search-bar left">
            <form ng-submit="SearchFromAddress()">

                <input ng-model="newAddress" type="search" placeholder="Search by address or intersection" class="topcoat-search-input search-key">
            </form>
        </div>
        <a ng-click="getByCurrentLocation()">
            <i class="location right"></i>
        </a>
    </div>
</div>
<div class="clear"></div>
<div class="topcoat-list__container scroller">
    <!--<img class="bg" src="/img/bg.jpeg" alt="bg"/>-->
	<ul class="topcoat-list list" ng-show="spots">
		<li class="topcoat-list__item" ng-show="{{spot.id}}" ng-repeat="spot in spots | orderBy:orderProp">
			<a ng-click="go('details/' + spot.id)">
                <div class="gradient"></div>
                <div class="info">
    				<p class="title">{{spot.title}}</p>
    				<p class="distance">{{spot.distance}} mi</p>
                </div>
                <div class="center">
                    <span class="count right">{{spot.spaces}}</span>
                </div>
                <i class="fa fa-chevron-right"></i>
			</a>
		</li>

	</ul>
    <i id="spinner" class="fa fa-spinner fa-spin fa-3x list-spinner" ng-hide="spots"></i>
    <a ng-click="LoadMore()" class="topcoat-button" ng-show="spots">Load More</a>
</div>
